* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    margin: 30px;
}

h2 {
    margin-left: 110px;
    color:brown;
    margin-bottom: 10px;
}

button {
    background-color: beige;
    border: none;
    margin-right: 8px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 6px;
}

.search {
    border-color: brown;
    margin-bottom: 6px;
}

p {
    color: #742626;
    margin-bottom: 6px;
}